body {
    color: white;
    background-color: midnightblue;
    font-family: 'Noto Sans JP', sans-serif;
}
.container{
    z-index: 1000;
}
#map {
    width: 100%;
    top: 0;
    left: 0;
    bottom: 185px;
    position: absolute;
}
#QuakeList{
    width: 30%;
    height: 92.5px;
    bottom: 0;
    right: 0;
    position: absolute;
}
#quakeinfo{
    width: 100%;
    height: 185px;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: midnightblue;
}
#hypo{
    top: -20px;
    left: 10px;
    position: absolute;
}
#time{
    top: 20px;
    left: 10px;
    position: absolute;
}
#mag{
    top: 40px;
    left: 10px;
    position: absolute;
}
#depth{
    top: 40px;
    left: 150px;
    position: absolute;
}
#tsunami{
    top: 75px;
    left: 10px;
    position: absolute;
}
#maxshindo{
    top: 100px;
    left: 10px;
    position: absolute;
}
#About{
    width: 50%;
    height: 185px;
    bottom: -20px;
    right: 0px;
    position: absolute;
    text-align: right;
    background-color: darkblue;
}
#aboutbutton{
    top: 0px;
    right: 0px;
    z-index: 2000;
    position: absolute;
    width: 30%;
    height: 5%;
    background-color: midnightblue;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
